<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@work:~$</h1>
        <li class="menu__item"><a href="https://www.linkedin.com/in/prasanthc41m/" target="_blank" class="link link--dark"><i class="fa fa-linkedin"></i></a></li>
        <li class="menu__item"><a href="https://prasanthc41m.medium.com" target="_blank" class="link link--dark"><i class="fa fa-medium"></i></a></li>
        <li class="menu__item"><a href="https://github.com/prasanthc41m" target="_blank" class="link link--dark"><i class="fa fa-github"></i></a></li>
        <li class="menu__item"><a href="https://prasanthk.com/certificates" target="_blank" class="link link--dark"><i class="fa fa-certificate"></i></a></li>    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
